<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <script>
        var w = document.documentElement.clientWidth || document.body.clientWidth;
        document.documentElement.style.fontSize = (w / 750 * 100) + "px";
        window.onresize = function () {
            var w = document.documentElement.clientWidth || document.body.clientWidth;
            document.documentElement.style.fontSize = (w / 750 * 100) + "px";
        }
    </script>
    <div class="loading" id="loading">
        <div class="loading-wrap">
            <div class="loading-ico-container">
                <div class="loading-ico loading-full"></div>
                <div id="loading-mask" class="loading-ico loading-gray" style="height: 3rem;"></div>
            </div>
            <div class="loading-prog">loading...
                <span id="progress">0</span>%</div>
        </div>
    </div>

    <div class="container" id="main">
        <ul id="tab" class="tag-list"></ul>
        <div id="pages"></div>
    </div>

    <script type="text/javascript" src="underscore-min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="swipe.js"></script>
    <script src='//vm.gtimg.cn/tencentvideo/txp/js/txplayer.js'></script>
    <script src="//ossweb-img.qq.com/images/js/comm/showDialog.min.js"></script>

    <!-- <script src='https://vm.gtimg.cn/tencentvideo/txp/js/txplayer.js'></script>
    <script src="https://ossweb-img.qq.com/images/js/comm/showDialog.min.js"></script> -->

    <script type="text/template" id="tpl-header">
    <div class="header page-<%=header %>">
        <div class="time">
            <div><%=year %></div>
            <div><%=month %>/<%=day1 %>-<%=day2%></div>
            <div class="number"><%=number %></div>
        </div>
    </div>
</script>
    <script type="text/template" id="tpl-1">
    <div class="block-1">
        <div class="title"><%=title %></div>
        <p class="content">
            <span class="text"><%=text %></span>
            <img src="<%=img %>" />
            <a href="<%=link %>"></a>
        </p>
    </div>
</script>


    </script>
    <script type="text/template" id="tpl-2">
        <div class="block-2">
            <div class="title"></div>
            <div class="match-list-box">
                <div class="btn-prev">
                    <a href="javascript:void(0);" class=""></a>
                </div>
                <div class="rollbox">
                    <div class="swipe">
                        
                        <div class="match-info">
                            <img src="<%=img1%>" />
                        </div>
                        <div class="match-info">
                            <img src="<%=img2%>" />
                        </div>
                        <div class="match-info">
                            <img src="<%=img3%>" />
                        </div>
                        <div class="match-info">
                            <img src="<%=img4%>" />
                        </div>
                        <div class="match-info">
                            <img src="<%=img5%>" />
                        </div>
                                               
                    </div>
                </div>
                <div class="btn-next">
                <a href="javascript:void(0);" ></a>
                </div>
            </div>
        </div>
    </script>
    </script>
    <script type="text/template" id="tpl-3">
    <div class="block-3">
        <!-- <div class="title"><%=title %></div>
        <p class="content">
            <span class="text"><%=text %></span>
            <img src="<%=img %>" />
            <a href="<%=link %>"></a>
        </p> -->

        <img src="<%=img %>" />
    </div>
</script>
    <script type="text/template" id="tpl-4">
    <div class="block-4">
        <!-- <div class="title"><%=title %></div>
        <div class="preview">
            <img class="img" src="<%=img %>" />
            <p class="desc"><%=desc %></p>
        </div>
        <p class="content">
            <span class="text"><%=text %></span>
            <a href="<%=link %>"></a>
        </p> -->
        <img class="img" src="<%=img %>" />
    </div>
</script>
    <script type="text/template" id="tpl-5">
    <div class="block-5">
        <!-- <div class="video-info">
            <h2><%=title %></h2>
            <a href="<%=link %>"></a>
        </div>
        <div class="video-img">
            <img src="<%=img %>" alt="" width="406" height="229">
        </div> -->

        <img src="<%=img %>" />
    </div>
</script>
    <script type="text/template" id="tpl-6">
    <div class="block-6">
        <!-- <div class="picture-title">
            <%=title%>
        </div>
        <ul class="picture-list clearfix">
            <li>
                <a href="<%=link%>">
                    <img src="<%=img1 %>" alt>
                </a>
            </li>
            <li class="middle">
                <a href="<%=link%>">
                    <img src="<%=img2 %>" alt>
                </a>
            </li>
            <li>
                <a href="<%=link%>">
                    <img src="<%=img3 %>" alt>
                </a>
            </li>
        </ul> -->

        <a href="javascript:void(0);" class="js-page-video-item" data-target="<%=link %>">
            <img src="<%=img %>" alt>
        </a>
    </div>
</script>
    <script type="text/template" id="tpl-7">
    <div class="block-7">
        <!-- <div class="title"></div>
        <div class="content-1">
            <img src="<%=img %>" />
            <div class="subtitle">
                <div class="time">
                    <div class="month"><%=month %></div>
                    <div class="year"><%=year %></div>
                    <i class="sep"></i>
                    <div class="day"><%=day %></div>
                </div>
                <div class="text"><%=title %></div>
            </div>
        </div> -->
        <!-- <div class="text"><%=text %></div> -->
        <img src="<%=img %>" alt>
    </div>
</script>
    <script type="text/template" id="tpl-video-list">
    <div class="block-8">
        <div class="video-list">
            <ul class="clearfix">
                <% _.each(video, function(e, i) {%>
                <li class="on">
                    <div class="video-show">
                        <a href="javascript:void(0);" class="js-video-item" data-target="<%=e.link %>">
                            <img src="<%=e.img %>" alt width="300" height="197">
                            <span></span>
                        </a>
                    </div>
                    <p class="video-name"><%=e.title %></p>
                    <!-- <a href="javascript:"  class="btn-good" data-videoid = "<%=e.id %>" data-score = "<%=e.goods %>">我觉得666</a>
                    <p class="total-good" data-videoid = "<%=e.id %>" data-score = "<%=e.goods %>">当前有<em><%=e.goods %></em>人给出了666</p> -->
                </li>
                <% }) %>               
            </ul>
        </div>
    </div>
</script>

    <!-- <div id="video-cover" class="video-cover hidden">
        <div class="video-cover-wrap"></div>
        <a id="video-close" href="javascript:void(0);" class="video-close">×</a>
    
        <div class="video-box" id="video-player">
        </div>
    </div> -->

    <div class="video" id="video-box" style="display:none">
        <div class="video-container" id="container"></div>
        <a href="javascript:$('#container').html('');showDialog.hide()" class="btn-close">X</a>
    </div>

    <script type="text/javascript">

        var imgs = ["6Moments_VideoFrame.png", "6Button.png", "6Moments_framefor6Video.png",
            "6Result_Frame.png", "ArrowLeft.png", "ArrowRight.png", "back.png",
            "block-4.jpg", "block-7.jpg", "detail-1.png", "detail-2.png", "detail1.png",
            "dottedLine.png", "header.png", "history.png", "matchResultTitle.png", "tag.png",
            "test.jpg", "tga-full.png", "tga-gray.png", "title.png"];

        var $main = $('#main');

        (function () {
            var $progress = $('#progress');
            var $loading = $('#loading');
            var $mask = $('#loading-mask');
            var total = imgs.length;
            var loaded = 0;
            var tmp = [];
            for (var i = 0; i < total; i++) {
                var imgLoader = new Image();
                imgLoader.onload = function () {
                    loaded++;
                    var prog = (loaded / total);
                    $progress.html(~~(prog * 100));
                    $mask.css("height", (3 * (1 - prog)) + 'rem');
                    if (loaded === total) {
                        setTimeout(function () {
                            $loading.addClass('hidden');
                            $main.css('background-image', 'url(back.png)');
                            $main.css('background-repeat', 'repeat');
                        }, 1000);
                    }
                }
                imgLoader.src = imgs[i];
            }
        })();

        var data = {
            year: 2017,
            month: 11,
            day1: '03',
            day2: '05',
            number: '第一周',
            page: [
                {
                    header: 1,
                    box: [
                        {
                            template: 'tpl-1',
                            data: {
                                title: '2017 TGA大奖赛开幕',
                                text: '今日，由上海永久冠名，戴尔电脑特约赞助的2017 TGA冬季大奖赛全国总决赛在武汉市洪山区武钢体育公园正式开幕。开幕当天，王者荣耀、CF、DNF、枪火等项目为广大观众来一场cosplay开场秀！此外，武汉市洪山区委常委严湘桃及区委各领导、腾讯互娱移动电竞业务部总监 KPL联盟主席张易加、上海永久自行车有限公司董事长颜奕鸣都亲临现场并发表致辞，与电竞明星MISS、55开、白鲨、二珂、微笑、草莓、卷毛、娃娃、米勒、霸哥、洞主、神超、誓约、大娇娇、怪咖、立瑧一起为第14届TGA大奖赛冬季总决赛揭幕。今年的TGA冬季总决赛的开幕现场更是为玩家准备了明星问答环节，在随后的首周三个比赛日的巅峰对决，点燃全国总决赛的激情盛宴！',
                                img: 'page1/1-1.jpg',
                                link: 'http://mp.weixin.qq.com/s/QepkzTg_kUTmrmkSOTOEdg'
                            }
                        },

                        {
                            template: 'tpl-2',
                            data: {

                                img1: 'matchs/1.jpg',
                                img2: 'matchs/2.jpg',
                                img3: 'matchs/3.jpg',
                                img4: 'matchs/4.jpg',
                                img5: 'matchs/5.jpg',

                            }
                        },

                        {
                            template: 'tpl-3',
                            data: {
                                title: '冠军之剑艾希即将上线',
                                text: '欢迎来到全新版本，召唤师！ LOL将在9月14日2点关闭排位赛入口（不影响已经在进行中的对局），凌晨2点全区停机维护，更新7.18版本，预计停机时间为02:00 - 12:00。 全球总决赛即将到来，因此所有改动都不会特别敏感，但我们想确保一些处于住在地位的越线英雄能有所收敛。',
                                img: 'page1/3-1.png',
                                link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907'
                            }
                        }
                    ]
                },
                {
                    header: 2,
                    box: [{
                        template: 'tpl-4',
                        data: {
                            title: '11月3日&nbsp;星期五',
                            text: ' 欢迎来到全新版本，召唤师！<br />LOL将在9月14日2点关闭排位赛入口（不影响已经在进行中的对局），凌晨2点全区停机维护，更新7.18版本，预计停机时间为02:00 - 12:00。<br/>全球总决赛即将到来，因此所有改动都不会特别敏感，但我们想确保一些处于住在地位的越线英雄能有所收敛。',
                            img: 'page2/2-1.png',
                            link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907',
                            desc: '2017全球总决赛小组赛：EDG vs C9'
                        }
                        // },
                        // {
                        //     template: 'tpl-5',
                        //     data: {
                        //         title: '小组赛13日前瞻 RNG能否全胜进入8强',
                        //         img: 'test.jpg',
                        //         link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907',
                        //         desc: '2017全球总决赛小组赛：EDG vs C9'
                        //     }
                        // },
                        // {
                        //     template: 'tpl-6',
                        //     data: {
                        //         title: 'S7入围赛前瞻: WE将带来怎样惊喜',
                        //         img1: 'test.jpg',
                        //         img2: 'block-4.jpg',
                        //         img3: 'test.jpg',
                        //         link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907'
                        //     }
                        // },
                        // {
                        //     template: 'tpl-7',
                        //     data: {
                        //         title: 'S7入围赛前瞻: WE将带来怎样惊喜',
                        //         year: 2017,
                        //         month: 11,
                        //         day: 25,
                        //         img: 'block-7.jpg',
                        //         text: '晋级S7全球总决赛，RNG向全世界正名了全华班的威力，小组赛第一轮3-0站稳了出线八强的名额，但这远远不及一场零封三星更能引发全球LOL观看者的议论。<br />S7小组分组一出来，RNG的粉丝就大呼要命，S4总决赛，SSW三星白队以3-1斩断皇族冠军梦;S6半决赛，SSG三星再次将RNG拦在了S总决赛半路腰;S7小组赛，冤家路窄，RNG与SSG被抽签划分到同一组。RNG的粉丝对这个分组表示出无比的担心，但正如客观粉丝说：“如果LPL真的打不过，那就不是抽签的问题了”。确实，迟早都要面对LCK的战队，如果在小组赛都无法面对LCK赛区，那么就算坚持到决赛，也是徒劳。'
                        //     }
                    }
                    ]
                },
                {
                    header: 3,
                    box: [


                        //     {
                        //     template: 'tpl-4',
                        //     data: {
                        //         title: '11月3日&nbsp;星期五',
                        //         text: ' 欢迎来到全新版本，召唤师！<br />LOL将在9月14日2点关闭排位赛入口（不影响已经在进行中的对局），凌晨2点全区停机维护，更新7.18版本，预计停机时间为02:00 - 12:00。<br/>全球总决赛即将到来，因此所有改动都不会特别敏感，但我们想确保一些处于住在地位的越线英雄能有所收敛。',
                        //         img: 'block-4.jpg',
                        //         link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907',
                        //         desc: '2017全球总决赛小组赛：EDG vs C9'
                        //     }
                        // },
                        {
                            template: 'tpl-5',
                            data: {
                                title: '小组赛13日前瞻 RNG能否全胜进入8强',
                                img: 'page3/3-1.png',
                                link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907',
                                desc: '2017全球总决赛小组赛：EDG vs C9'
                            }
                        },
                        {
                            template: 'tpl-6',
                            data: {
                                title: 'S7入围赛前瞻: WE将带来怎样惊喜',
                                img1: 'test.jpg',
                                img2: 'block-4.jpg',
                                img3: 'test.jpg',
                                img: 'page3/3-2.png',
                                link: 'w0107761d55'
                            }
                        },
                        {
                            template: 'tpl-7',
                            data: {
                                title: 'S7入围赛前瞻: WE将带来怎样惊喜',
                                year: 2017,
                                month: 11,
                                day: 25,
                                img: 'page3/3-3.png',
                                text: '晋级S7全球总决赛，RNG向全世界正名了全华班的威力，小组赛第一轮3-0站稳了出线八强的名额，但这远远不及一场零封三星更能引发全球LOL观看者的议论。<br />S7小组分组一出来，RNG的粉丝就大呼要命，S4总决赛，SSW三星白队以3-1斩断皇族冠军梦;S6半决赛，SSG三星再次将RNG拦在了S总决赛半路腰;S7小组赛，冤家路窄，RNG与SSG被抽签划分到同一组。RNG的粉丝对这个分组表示出无比的担心，但正如客观粉丝说：“如果LPL真的打不过，那就不是抽签的问题了”。确实，迟早都要面对LCK的战队，如果在小组赛都无法面对LCK赛区，那么就算坚持到决赛，也是徒劳。'
                            }
                        }
                    ]
                },
                {
                    header: 4,
                    box: [
                        {
                            template: 'tpl-video-list',
                            data: {
                                video: [
                                    {
                                        id: 2144,
                                        img: 'moments/1.jpg',
                                        link: 's0500tb4ipd',
                                        title: '【集锦】CF狙神争霸赛激情对狙',
                                        goods: 538,
                                        ts: 1509814123936
                                    },
                                    {
                                        id: 2145,
                                        img: 'moments/2.jpg',
                                        link: 'c0500u7byuo',
                                        title: '【TOP10】CF狙神争霸赛枪枪致命',
                                        goods: 538,
                                        ts: 1509814123936
                                    },
                                    {
                                        id: 2146,
                                        img: 'moments/3.jpg',
                                        link: 's0500rxmc5n',
                                        title: '【集锦】CFM最佳奥斯卡终获冠军',
                                        goods: 538,
                                        ts: 1509814123936
                                    },
                                    {
                                        id: 2147,
                                        img: 'moments/4.jpg',
                                        link: 'l0500hbqhr0',
                                        title: '【TOP10】CFM 枪法与意识结合的艺术',
                                        goods: 538,
                                        ts: 1509814123936
                                    },
                                    {
                                        id: 2148,
                                        img: 'moments/5.jpg',
                                        link: 'y0500kw8irr',
                                        title: '【集锦】英魂之刃绚丽团战爆炸输出',
                                        goods: 538,
                                        ts: 1509814123936
                                    },
                                    {
                                        id: 2149,
                                        img: 'moments/6.jpg',
                                        link: 't0500mdr994',
                                        title: '【集锦】全职大师热血队让一追二夺冠',
                                        goods: 538,
                                        ts: 1509814123936
                                    },
                                    {
                                        id: 2150,
                                        img: 'moments/7.jpg',
                                        link: 's0500hkyftx',
                                        title: '【TOP10】枪火游侠 华丽团战编织技能交响曲',
                                        goods: 538,
                                        ts: 1509814123936
                                    },
                                    {
                                        id: 2151,
                                        img: 'moments/8.jpg',
                                        link: 'n050026zl3x',
                                        title: '【TOP10】英魂之刃 强强对决秀操作',
                                        goods: 538,
                                        ts: 1509814123936
                                    },
                                    {
                                        id: 2152,
                                        img: 'moments/9.jpg',
                                        link: 'r0500kbg6n3',
                                        title: '【TOP10】全职大师 雄兵生死搏 大师秀操作',
                                        goods: 538,
                                        ts: 1509814123936
                                    },
                                    {
                                        id: 2153,
                                        img: 'moments/10.jpg',
                                        link: 'k05008n0avt',
                                        title: '【TOP10】全职大师 雄兵生死搏 大师秀操作',
                                        goods: 538,
                                        ts: 1509814123936
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        };

        var $tab = $('#tab');
        var $pages = $('#pages');
        var headerTplFunc = _.template($('#tpl-header').html());
        for (var i = 0; i < data.page.length; i++) {
            var page = data.page[i];
            if (page.header > 4) {
                continue;
            }
            $tab.append('<li data-id="' + page.header + '" class="tag-' + page.header + (i == 0 ? ' on' : '') + '"></li>');
            var pageHtml = '';
            pageHtml += headerTplFunc({
                year: data.year,
                month: data.month,
                day1: data.day1,
                day2: data.day2,
                number: data.number,
                header: page.header
            });
            var bindEvents = false;

            for (var box_i = 0; page.box && box_i < page.box.length; box_i++) {
                if (box_i) {
                    pageHtml += '<div class="separator"></div>';
                }
                var box = page.box[box_i];
                if (box.template == 'tpl-2') {
                    bindEvents = true;
                }

                if (box.template == 'tpl-video-list') {
                    var ts = +new Date();
                    var tsGoods = function (x) {
                        return ~~((ts - new Date(x)) / 60000 * 0.7);
                    };
                    for (var xx = 0; xx < box.data.video.length; xx++) {
                        box.data.video[xx].goods += tsGoods(box.data.video[xx].ts) + (window.getVoteByVid ? window.getVoteByVid(box.data.video[xx].id) : 0);
                    }
                }
                var tplFunc = _.template($('#' + box.template).html());
                pageHtml += "<div class='box'>" + tplFunc(box.data) + "</div>";

            }

            $pages.append('<div class="page ' + (i == 0 ? '' : 'hidden') + '" data-id=' + page.header + '>' + pageHtml + '</div>');

            if (bindEvents) {
                var swipeBox = Swipe($('.rollbox')[0], {});
                $('.btn-prev').on('click', function () {
                    swipeBox.prev();
                });
                $('.btn-next').on('click', function () {
                    swipeBox.next();
                });
            }
        }

        // fix change for history of TGA
        $('.header.page-3 .time').addClass('hidden')
        // end fix

        $tab.on('click', 'li', function (e) {
            $tab.children().removeClass('on');
            $pages.children().addClass('hidden');
            var $target = $(e.currentTarget);
            $target.addClass('on');
            $pages.find("[data-id='" + $target.data('id') + "']").removeClass('hidden');
        });

        var $videoCover = $('#video-cover');
        var $videoItem = $('.js-video-item');
        var $pageVideoItem = $('.js-page-video-item');
        var $player = $('#video-player');
        var $videoClose = $("#video-close");
        var player;
        var playerTarget = '';

        function createVideo(vid) {
            var video_width = $(".video").width();
            var video_height = $(".video").height();
            var player = new Txplayer({
                containerId: 'container',
                vid: vid,
                width: video_width,
                height: video_height,
                autoplay: true
            });
            showDia("video-box");
        }
        function showDia(e) {
            showDialog.show({
                id: e, //需要弹出的id，如果是弹出页面上的div，则该选项为必选
                bgcolor: "#000",//弹出“遮罩”的颜色，格式为"#FF6600"，可选，默认为"#fff"
                opacity: 80 //弹出“遮罩”的透明度，格式为｛10-100｝，可选
            });
        }



        $pageVideoItem.on('click', function (e) {
            var curTarget = $(e.currentTarget).data('target');
            var video_width = $(".video").width();
            var video_height = $(".video").height();
            var player = new Txplayer({
                containerId: 'container',
                vid: curTarget,
                width: video_width,
                height: video_height,
                autoplay: true
            });
            showDia("video-box");

            // e.stopPropagation();
            // $videoCover.removeClass('hidden');
            // var curTarget = $(e.currentTarget).data('target');
            // if(!player) {
            //     player = new Txplayer({
            //         containerId: 'video-player',
            //         vid: curTarget,
            //         width: '600',
            //         height: '400',
            //         autoplay: false
            //     });
            //     return ;
            // }

            // if(curTarget == playerTarget) {
            //     return ;
            // }

            // curTarget = playerTarget;

            // player.play(curTarget);
        });

        $videoItem.on('click', function (e) {
            // e.stopPropagation();
            // $videoCover.removeClass('hidden');
            // var curTarget = $(e.currentTarget).data('target');
            // if(!player) {
            //     player = new Txplayer({
            //         containerId: 'video-player',
            //         vid: curTarget,
            //         width: '600',
            //         height: '400',
            //         autoplay: false
            //     });
            //     return ;
            // }

            // if(curTarget == playerTarget) {
            //     return ;
            // }

            // curTarget = playerTarget;

            // player.play(curTarget);
            var curTarget = $(e.currentTarget).data('target');
            var video_width = $(".video").width();
            var video_height = $(".video").height();
            var player = new Txplayer({
                containerId: 'container',
                vid: curTarget,
                width: video_width,
                height: video_height,
                autoplay: true
            });
            showDia("video-box");
        });

        $videoClose.on('click', function (e) {
            player.pause();
            $videoCover.addClass('hidden');
        });

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=")
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1
                    c_end = document.cookie.indexOf(";", c_start)
                    if (c_end == -1) c_end = document.cookie.length
                    return unescape(document.cookie.substring(c_start, c_end))
                }
            }
            return ""
        }

        function setCookie(c_name, value, expiredays) {
            var exdate = new Date()
            exdate.setDate(exdate.getDate() + expiredays)
            document.cookie = c_name + "=" + escape(value) +
                ((expiredays == null) ? "" : "; expires=" + exdate.toGMTString())
        }

        $('.video-list .btn-good').on('click', function (e) {
            var $target = $(e.currentTarget);
            var id = $target.data('videoid');
            var $score = $target.parent().find('em');
            var score = +$score.html();

            if (getCookie(id) != null && getCookie(id) != "") {
                return;
            }
            else {
                setCookie(id, score, 365);
                score++;
            }


            $score.html(score);
        });



    </script>

</body>

</html>