<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <script>
        var w = document.documentElement.clientWidth || document.body.clientWidth;
        document.documentElement.style.fontSize = (w / 750 * 100) + "px";
        window.onresize = function () {
            var w = document.documentElement.clientWidth || document.body.clientWidth;
            document.documentElement.style.fontSize = (w / 750 * 100) + "px";
        }
    </script>
    <div class="loading" style="display: none;">
        <div class="loading-wrap">
            <div class="loading-ico-container">
                <div class="loading-ico loading-full"></div>
                <div class="loading-ico loading-gray" style="height: 3rem;"></div>
            </div>
            <div class="loading-prog">loading...
                <span>99</span>%</div>
        </div>
    </div>

    <div class="container" id="main">
        <ul id="tab" class="tag-list"></ul>
        <div id="pages"></div>
    </div>

    <script type="text/javascript" src="underscore-min.js"></script>
    <script src="https://ossweb-img.qq.com/images/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="https://ossweb-img.qq.com/images/js/ArtTemplate.js"></script>
    <script src="https://ossweb-img.qq.com/images/js/zepto/zepto.min.js"></script>
    <script src='https://vm.gtimg.cn/tencentvideo/txp/js/txplayer.js'></script>
    <script src="https://ossweb-img.qq.com/images/js/comm/showDialog.min.js"></script>
    <script src="https://ossweb-img.qq.com/images/js/login/loginmanagerv3.js" charset="gb2312"></script>
    <script src="https://ossweb-img.qq.com/images/js/mobile_build/milo.js"></script>
    <script src="https://lol.qq.com/m/public/LOL_App.js"></script>
    <script src="https://lol.qq.com/m/public/Activity_Comm.js"></script>
    <script src="https://lol.qq.com/m/public/Burning.js"></script>
    <script src="https://ossweb-img.qq.com/images/js/json2.min.js"></script>
    <!-- <script src="http://lpl.qq.com/web201612/data/LOL_MATCH2_TEAM_LIST.js"></script>
    <script src="http://lpl.qq.com/web201612/data/LOL_MATCH2_GAME_58_GAMETYPE_INFO.js"></script> -->

    <script type="text/template" id="tpl-header">
    <div class="header page-<%=header %>">
        <div class="time">
            <div><%=year %></div>
            <div><%=month %>/<%=day1 %>-<%=day2%></div>
            <div class="number"><%=number %></div>
        </div>
    </div>
</script>
    <script type="text/template" id="tpl-1">
    <div class="block-1">
        <div class="title"><%=title %></div>
        <p class="content">
            <span class="text"><%=text %></span>
            <img src="<%=img %>" />
            <a href="<%=link %>"></a>
        </p>
    </div>
</script>


    </script>
    <script type="text/template" id="tpl-2">
    <div class="block-2">
        <div class="title">

        </div>
        <div class="match-list-box">
            <div class="rollbox">
                <ul class="match-list" class="match-list" id="rollbox" style="left: 0px;
        transform: transformX(1.3624e-12px);" rolltime="13" left="1.3642420526593924e-12px">
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                    <li>
                        <div class="match-info">
                            <img src="<%=img %>" />
                        </div>
                    </li>
                </ul>
                <a href="javascript:" class="btn-prev" id="btn-prev"></a>
                <a href="javascript:" class="btn-next" id="btn-next"></a>
            </div>
        </div>

    </div>
</script>
    </script>
    <script type="text/template" id="tpl-3">
    <div class="block-3">
        <div class="title"><%=title %></div>
        <p class="content">
            <span class="text"><%=text %></span>
            <img src="<%=img %>" />
            <a href="<%=link %>"></a>
        </p>
    </div>
</script>
    <script type="text/template" id="tpl-4">
    <div class="block-4">
        <div class="title"><%=title %></div>
        <div class="preview">
            <img class="img" src="<%=img %>" />
            <p class="desc"><%=desc %></p>
        </div>
        <p class="content">
            <span class="text"><%=text %></span>
            <a href="<%=link %>"></a>
        </p>
    </div>
</script>
    <script type="text/template" id="tpl-5">
    <div class="block-5">
        <div class="video-info">
            <h2><%=title %></h2>
            <a href="<%=link %>"></a>
        </div>
        <div class="video-img">
            <img src="<%=img %>" alt="" width="406" height="229">
        </div>
    </div>
</script>
    <script type="text/template" id="tpl-6">
    <div class="block-6">
        <div class="picture-title">
            <%=title%>
        </div>
        <ul class="picture-list clearfix">
            <li>
                <a href="<%=link%>">
                    <img src="<%=img1 %>" alt>
                </a>
            </li>
            <li class="middle">
                <a href="<%=link%>">
                    <img src="<%=img2 %>" alt>
                </a>
            </li>
            <li>
                <a href="<%=link%>">
                    <img src="<%=img3 %>" alt>
                </a>
            </li>

        </ul>
    </div>
</script>
    <script type="text/template" id="tpl-7">
    <div class="block-7">
        <div class="title"></div>
        <div class="content-1">
            <img src="<%=img %>" />
            <div class="subtitle">
                <div class="time">
                    <div class="month"><%=month %></div>
                    <div class="year"><%=year %></div>
                    <i class="sep"></i>
                    <div class="day"><%=day %></div>
                </div>
                <div class="text"><%=title %></div>
            </div>
        </div>
        <div class="text"><%=text %></div>
    </div>
</script>
    <script type="text/template" id="tpl-video-list">
    <div class="block-8">
        <div class="video-list">
            <ul class="clearfix">
                <% _.each(video, function(e, i) {%>
                <li class="on">
                    <div class="video-show">
                        <a href="javascript:" onclick = "createVideo('h9bb63p341cj8zv');"
                        class="js-video-item" data-target="<%=e.link %>">
                            <img src="<%=e.img %>" alt width="300" height="197">
                            <span></span>
                        </a>
                    </div>
                    <p class="video-name"><%=e.title %></p>
                    <a href="javascript:void(0);" class="btn-good">我觉得666</a>
                    <p class="total-good">当前有<em><%=e.goods %></em>人给出了666</p>
                </li>
                <% }) %>               
            </ul>
        </div>

        <div class="video" id="video-box" style="display:none">
                <div class="video-container" id="container">
                  
                </div>
                <a href="javascript:$('#container').html('');showDialog.hide()" class="btn-close">X</a>
            </div>
    </div>
</script>

    <script type="text/javascript">

        var imgs = ["test.jpg", "block-4.jpg", "block-7.jpg"];
        var data = {
            year: 2017,
            month: 11,
            day1: '03',
            day2: '05',
            number: '第一周',
            page: [
                {
                    header: 1,
                    box: [
                        {
                            template: 'tpl-1',
                            data: {
                                title: '冠军之剑艾希即将上线',
                                text: '欢迎来到全新版本，召唤师！ LOL将在9月14日2点关闭排位赛入口（不影响已经在进行中的对局），凌晨2点全区停机维护，更新7.18版本，预计停机时间为02:00 - 12:00。 全球总决赛即将到来，因此所有改动都不会特别敏感，但我们想确保一些处于住在地位的越线英雄能有所收敛。',
                                img: 'test.jpg',
                                link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907'
                            }
                        },

                        {
                            template: 'tpl-2',
                            data: {
                                
                                img: 'test.jpg',
                                
                            }
                        },

                        {
                            template: 'tpl-3',
                            data: {
                                title: '冠军之剑艾希即将上线',
                                text: '欢迎来到全新版本，召唤师！ LOL将在9月14日2点关闭排位赛入口（不影响已经在进行中的对局），凌晨2点全区停机维护，更新7.18版本，预计停机时间为02:00 - 12:00。 全球总决赛即将到来，因此所有改动都不会特别敏感，但我们想确保一些处于住在地位的越线英雄能有所收敛。',
                                img: 'test.jpg',
                                link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907'
                            }
                        }
                    ]
                },
                {
                    header: 2,
                    box: [{
                        template: 'tpl-4',
                        data: {
                            title: '11月3日&nbsp;星期五',
                            text: ' 欢迎来到全新版本，召唤师！<br />LOL将在9月14日2点关闭排位赛入口（不影响已经在进行中的对局），凌晨2点全区停机维护，更新7.18版本，预计停机时间为02:00 - 12:00。<br/>全球总决赛即将到来，因此所有改动都不会特别敏感，但我们想确保一些处于住在地位的越线英雄能有所收敛。',
                            img: 'block-4.jpg',
                            link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907',
                            desc: '2017全球总决赛小组赛：EDG vs C9'
                        }
                    },
                    {
                        template: 'tpl-5',
                        data: {
                            title: '小组赛13日前瞻 RNG能否全胜进入8强',
                            img: 'test.jpg',
                            link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907',
                            desc: '2017全球总决赛小组赛：EDG vs C9'
                        }
                    },
                    {
                        template: 'tpl-6',
                        data: {
                            title: 'S7入围赛前瞻: WE将带来怎样惊喜',
                            img1: 'test.jpg',
                            img2: 'block-4.jpg',
                            img3: 'test.jpg',
                            link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907'
                        }
                    },
                    {
                        template: 'tpl-7',
                        data: {
                            title: 'S7入围赛前瞻: WE将带来怎样惊喜',
                            year: 2017,
                            month: 11,
                            day: 25,
                            img: 'block-7.jpg',
                            text: '晋级S7全球总决赛，RNG向全世界正名了全华班的威力，小组赛第一轮3-0站稳了出线八强的名额，但这远远不及一场零封三星更能引发全球LOL观看者的议论。<br />S7小组分组一出来，RNG的粉丝就大呼要命，S4总决赛，SSW三星白队以3-1斩断皇族冠军梦;S6半决赛，SSG三星再次将RNG拦在了S总决赛半路腰;S7小组赛，冤家路窄，RNG与SSG被抽签划分到同一组。RNG的粉丝对这个分组表示出无比的担心，但正如客观粉丝说：“如果LPL真的打不过，那就不是抽签的问题了”。确实，迟早都要面对LCK的战队，如果在小组赛都无法面对LCK赛区，那么就算坚持到决赛，也是徒劳。'
                        }
                    }
                    ]
                },
                {
                    header: 3,
                    box: [{
                        template: 'tpl-4',
                        data: {
                            title: '11月3日&nbsp;星期五',
                            text: ' 欢迎来到全新版本，召唤师！<br />LOL将在9月14日2点关闭排位赛入口（不影响已经在进行中的对局），凌晨2点全区停机维护，更新7.18版本，预计停机时间为02:00 - 12:00。<br/>全球总决赛即将到来，因此所有改动都不会特别敏感，但我们想确保一些处于住在地位的越线英雄能有所收敛。',
                            img: 'block-4.jpg',
                            link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907',
                            desc: '2017全球总决赛小组赛：EDG vs C9'
                        }
                    },
                    {
                        template: 'tpl-5',
                        data: {
                            title: '小组赛13日前瞻 RNG能否全胜进入8强',
                            img: 'test.jpg',
                            link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907',
                            desc: '2017全球总决赛小组赛：EDG vs C9'
                        }
                    },
                    {
                        template: 'tpl-6',
                        data: {
                            title: 'S7入围赛前瞻: WE将带来怎样惊喜',
                            img1: 'test.jpg',
                            img2: 'block-4.jpg',
                            img3: 'test.jpg',
                            link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907'
                        }
                    },
                    {
                        template: 'tpl-7',
                        data: {
                            title: 'S7入围赛前瞻: WE将带来怎样惊喜',
                            year: 2017,
                            month: 11,
                            day: 25,
                            img: 'block-7.jpg',
                            text: '晋级S7全球总决赛，RNG向全世界正名了全华班的威力，小组赛第一轮3-0站稳了出线八强的名额，但这远远不及一场零封三星更能引发全球LOL观看者的议论。<br />S7小组分组一出来，RNG的粉丝就大呼要命，S4总决赛，SSW三星白队以3-1斩断皇族冠军梦;S6半决赛，SSG三星再次将RNG拦在了S总决赛半路腰;S7小组赛，冤家路窄，RNG与SSG被抽签划分到同一组。RNG的粉丝对这个分组表示出无比的担心，但正如客观粉丝说：“如果LPL真的打不过，那就不是抽签的问题了”。确实，迟早都要面对LCK的战队，如果在小组赛都无法面对LCK赛区，那么就算坚持到决赛，也是徒劳。'
                        }
                    }
                    ]
                },
                {
                    header: 4,
                    box: [
                        {
                            template: 'tpl-video-list',
                            data: {
                                video: [
                                    {
                                        img: 'test.jpg',
                                        link: 'http://qt.qq.com/php_cgi/news/php/varcache_article.php?id=38907',
                                        title: '惊天反杀!',
                                        goods: 538
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        };

        var $main = $('#main');
        var $tab = $('#tab');
        var $pages = $('#pages');
        var headerTplFunc = _.template($('#tpl-header').html());
        for (var i = 0; i < data.page.length; i++) {
            var page = data.page[i];
            if (page.header > 4) {
                continue;
            }
            $tab.append('<li data-id="' + page.header + '" class="tag-' + page.header + (i == 0 ? ' on' : '') + '"></li>');
            var pageHtml = '';
            pageHtml += headerTplFunc({
                year: data.year,
                month: data.month,
                day1: data.day1,
                day2: data.day2,
                number: data.number,
                header: page.header
            });

            for (var box_i = 0; page.box && box_i < page.box.length; box_i++) {
                if (box_i) {
                    pageHtml += '<div class="separator"></div>';
                }
                var box = page.box[box_i];
                var tplFunc = _.template($('#' + box.template).html());
                pageHtml += "<div class='box'>" + tplFunc(box.data) + "</div>";
            }
            console.log(pageHtml);

            $pages.append('<div class="page ' + (i == 0 ? '' : 'hidden') + '" data-id=' + page.header + '>' + pageHtml + '</div>');
        }

        $('#tab').on('click', 'li', function (e) {
            $tab.children().removeClass('on');
            $pages.children().addClass('hidden');
            var $target = $(e.target);
            $target.addClass('on');
            $pages.find("[data-id='" + $target.data('id') + "']").removeClass('hidden');
        });



        // 赛程轮播
        $rollbox = $("#rollbox"); // 移动的容器
        $item = $("#rollbox li") //各个项
        $btn_prev = $("#btn-prev");//上一个
        $btn_next = $("#btn-next") //下一个

        var itemwidth = $item.outerWidth(true)//item单独宽度   (为每次位移的距离)
        var total = itemwidth * $item.length;//item的总宽度
        total = -(total - itemwidth);
        var remainder = $item.length % 3; //计算余数
        var rolltime = Math.floor($item.length / 3);  //切换次数



        if (remainder != 0) {
            rolltime++;
            $rollbox.attr("rolltime", rolltime);
        } else {
            $rollbox.attr("rolltime", rolltime);
        }

        // btn_next点击
        $btn_next.click(function () {
            var oldleft = $rollbox.attr("left") || 0;
            var xx = $rollbox.css("transform");
            oldleft = parseFloat(oldleft);
            var newleft = oldleft - (itemwidth * 3);
            newleft = newleft + "px";
            var moveX = "translateX(" + newleft + ")";
            var oldroll = parseInt($rollbox.attr("rolltime"));
            if (oldroll <= 1) {
                return;
            } else {
                $rollbox.attr("rolltime", oldroll - 1);
                $rollbox.attr("left", newleft);
                $rollbox.css("transform", moveX);
            }
        })
        // btn_prev 点击
        $btn_prev.click(function () {
            var oldleft = $rollbox.attr("left") || 0;
            oldleft = parseFloat(oldleft);
            var newleft = oldleft + (itemwidth * 3);
            var oldroll = parseInt($rollbox.attr("rolltime"));
            newleft = newleft + "px";
            var moveX = "translateX(" + newleft + ")";
            if (oldroll >= rolltime) {
                return;
            } else {
                $rollbox.attr("rolltime", oldroll + 1);
                $rollbox.attr("left", newleft);
                $rollbox.css("transform", moveX);
            }
        })

        function showDia(e) {
            showDialog.show({
                id: e, //需要弹出的id，如果是弹出页面上的div，则该选项为必选
                bgcolor: "#000",//弹出“遮罩”的颜色，格式为"#FF6600"，可选，默认为"#fff"
                opacity: 80 //弹出“遮罩”的透明度，格式为｛10-100｝，可选
            });
        }
        function createVideo(vid) {
            var video_width = $(".video").width();
            var video_height = $(".video").height();
            var player = new Txplayer({
                containerId: 'container',
                vid: vid,
                width: video_width,
                height: video_height,
                autoplay: true
            });
            player.on('ready', function () {
                console.log('播放器初始化完成');
            });

            showDia("video-box");
        }

  //      alert('missing: loading, video, slide, vote');
    </script>

</body>

</html>